.books__table
  table
  :is(th, td):is(
    :nth-child(6),
    :nth-child(7),
    :nth-child(8),
    :nth-child(9),
    :nth-child(10)
  ) {
  text-align: center;
}

.genres__table table :is(th, td):is(:nth-child(4), :nth-child(5), ) {
  text-align: center;
}

:is(
    .user__table,
    .books__table,
    .issueRecord__table,
    .waitlist__table,
    .reviews__table,
    .genres__table
  )
  table
  :is(th, td) {
  white-space: nowrap;
}

.reviews__table table :is(th, td):is(:nth-child(4)) {
  text-align: center;
}

.reviews__table table :is(th, td):is(:nth-child(5)) {
  white-space: wrap;
  max-width: 400px;
  min-width: 260px;
}
